@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  font-family: var(--font-yekan), sans-serif;
}

.custom-swiper .swiper-pagination {
  bottom: 100px !important; /* move up */
}

.custom-swiper .swiper-pagination-bullet {
  background: #9ca3af; /* gray-400 */
  opacity: 1;
  width: 11px !important;
  height: 11px !important;
}

.custom-swiper .swiper-pagination-bullet-active {
  background: #155dfc; /* gray-800 */
}